<header>
  <h1>
    App that identifies the defects and good products powered by VertexAI, a
    Google Product
  </h1>
</header>

@if (loading()) {<mat-progress-bar mode="indeterminate" />}

<main>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- <input formControlName="promptInput" placeholder="Enter Prompt" /> -->

    <label for="files"> Click to upload </label>
    <input
      formControlName="imageInput"
      id="files"
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
      hidden
    />

    <button
      mat-raised-button
      color="primary
    "
      [disabled]="loading()"
    >
      Inspect the Product
    </button>
  </form>

  @if (imageUrl) {
  <picture class="preview-img">
    <img [src]="imageUrl" alt="Preview Image" />
  </picture>

  }

  <!-- ------------ -->

  <!-- ----------------------- -->

  <div class="results-container">
    @if (generatedContent) {
    <p>
      Quality of the Product:

      <span
        [ngStyle]="{ 
          color: '#fff',
          background:
          generatedContent.generatedResponse.trim().toLowerCase() === 'ok' ? '#008000' : '#ff0000',
           
        }"
      >
        {{ generatedContent.generatedResponse }}
      </span>
    </p>
    }@else if (generatedError) {
    <div class="results-container">
      <p style="color: #ff0000">
        Error generating response: {{ generatedError }}
      </p>
    </div>
    }
  </div>
</main>

<footer></footer>
