<header>
  <h1>
    App that identifies the defects and good products powered by VertexAI, a
    Google Product
  </h1>
</header>

<main>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input formControlName="promptInput" placeholder="Enter Prompt" />

    <!-- <input
      [formControl]="promptImageControl"
      placeholder="upload an  image"
      type="file"
      accept="image/*"
    /> -->

    <button mat-raised-button>Generate Content</button>
    @if (generatedContent) {
    <p>{{ generatedContent }}</p>
    }
    <!-- @if (imageUrl) {

    <img [src]="imageUrl" alt="Uploaded Image" />} 
    -->
  </form>
</main>
<!--


  
-->
<!-- tod do 
1. takes input as an image   
2. convert it inot base64
3. send this data to vertex api
4.  retrive the data and preview in the frotend

-->

<mat-divider></mat-divider>
