header {
  text-align: center;
  h1 {
    font-size: 1.6rem;
  }
}

.preview-img {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 40%;
    height: auto;
  }
}

.results-conteiner {
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}
