<header>
  <h1>
    App that identifies the defects and good products powered by VertexAI, a
    Google Product
  </h1>
</header>

<main>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- <input formControlName="promptInput" placeholder="Enter Prompt" /> -->

    <label for="files">
      upload an image of the product to check its quality</label
    >
    <input
      formControlName="imageInput"
      id="files"
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
      hidden
    />

    <button mat-raised-button>Generate Content</button>
  </form>
  <mat-divider />
  @if (imageUrl) {
  <picture class="preview-img">
    <img [src]="imageUrl" alt="Preview Image" />
  </picture>

  } @if (generatedContent) {
  <div class="results-conteiner">
    <p>Quality of the Product: {{ generatedContent.generatedResponse }}</p>
  </div>

  }
</main>

<mat-divider></mat-divider>
