<h1>Welcome, Angular - Hello - GCP to the World</h1>
<div style="text-align: center">
  <h1>Find Pirate by ID</h1>
  <!-- [(ss)]="pirateId" -->
  <input [formControl]="pirateIdControl" placeholder="Enter Pirate ID" />
  <button (click)="getPirate()">Search Pirate</button>

  <!-- <div *ngIf="pirate"> -->

  @if(pirate){
  <h2>Pirate Details</h2>
  <p><strong>Name:</strong> {{ pirate.name }}</p>
  <p><strong>Active:</strong> {{ pirate.active }}</p>
  <p><strong>Country:</strong> {{ pirate.country }}</p>
  }

  <!--  -->
  @if(error){
  <div style="color: red">
    <p>{{ error }}</p>
  </div>
  }
</div>

<div>
  <input placeholder="Enter prompt text" />
  <input placeholder="Enter imgage" />
  <!-- tod do 
1. takes input as an image   
2. convert it inot base64
3. send this data to vertex api
4.  retrive the data and preview in the frotend

-->
  <div>
    Preview

    <button (click)="generateContent()">Generate Content</button>
    <p>{{ generatedContent }}</p>
  </div>
</div>
